<main class="container-fluid">
  <div class="container" id="header">
    <section class="row">
      <div class="col-md-12 mt-5">

        <h1 class="text-center">Lista de los paquetes prealertados</h1>

        <table class="table mt-5">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Número de tracking</th>
              <th scope="col">Tipo de paquete</th>
              <th scope="col">Peso</th>
              <th scope="col">Precio</th>
              <th scope="col">Acciones</th>

            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="paquetesPrealertados in vm.listarPaquetesPrealertados">
              <td>{{paquetesPrealertados.trackingPaquete}}</td>
              <td>{{paquetesPrealertados.tipoPaquete.name}}</td>
              <td>{{paquetesPrealertados.pesoPaquete}} Kg</td>
              <td>₡ {{paquetesPrealertados.precioPaquete}}</td>
              <td>
                <button type="click" class="btn btn-secundary" ng-click="vm.estadoPaquete(paquetesPrealertados)">
                  Consultar estado
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-secondary" ng-click="vm.regresar()">regresar!</button>
      </div>
    </section>
  </div>
</main>