<main id="registroTarjetas">
  <!-- class="col-md-10 my-5" -->



  <section>

    <div>

      <h1 class="text-center">Registro de Tarjetas</h1>

      <form name="frmRegistroTarjetas" class="row mt-5" ng-submit="vm.registrarTarjeta(vm.tarjetaNueva)">

        <div class="container" name="frmRegistroTarjetas">

          <div class="form-group col-sm-12 col-md-4 col-lg-4 m-3">
            <label for="txtNombre">Nombre como aparece en la tarjeta</label>
            <input type="text" class="form-control" id="txtNombre" ng-model="vm.tarjetaNueva.nombre" required>
            <small class="form-text text-danger">* Campo requerido</small>
          </div>

          <div class="form-group col-sm-12 col-md-4 col-lg-4 m-3">
            <label for="txtNumCC">Número de Tarjeta</label>
            <input type="number" class="form-control" id="txtNumCC" ng-model="vm.tarjetaNueva.numero" required>
            <small class="form-text text-danger">* Campo requerido</small>
          </div>

          <div class="form-group col-sm-12 col-md-4 col-lg-4 m-3">
            <label for="txtCvv">CVV</label>
            <input type="number" class="form-control" id="txtCvv" ng-model="vm.tarjetaNueva.cvv" required>
            <small class="form-text text-danger">* Campo Requerido</small>
          </div>

          <div class="form-group col-sm-12 col-md-4 col-lg-4 m-3">
            <label for="txtExp">Fecha de Expiracion</label>
            <input type="number" class="form-control" id="txtExp" ng-model="vm.tarjetaNueva.exp" required>
            <small class="form-text text-danger">* Campo Requerido</small>
          </div>

        </div>
      </form>
    </div>

  </section>



</main>