<main id="registroTarjetas">
  <!-- class="col-md-10 my-5" -->

  <form name="frmRegistroTarjetas" class="row mt-5" ng-submit="vm.registrarTarjeta(vm.tarjetaNueva)">

      <div class="container" name="frmRegistroTarjetas">
            <tr>
              <td align="right">Tipo de Tarjeta :</td>
              <td><select payeezy-data="card_type">
                  <option value="visa">Visa</option>
                  <option value="mastercard">Master Card</option>
                  <option value="American Express">American Express</option>
                  <option value="discover">Discover</option>
              </select></td>
            </tr>
            <tr>
              <td align="right">Nombre como aparece en la Tarjeta</td>
              <td><input type="text" payeezy-data="cardholder_name"
                value="" /></td>
            </tr>
            <tr>
              <td align="right">Numero de Tarjeta</td>
              <td><input type="text" payeezy-data="cc_number"
                value="" /></td>
            </tr>
            <tr>
              <td align="right">Codigo CVV</td>
              <td><input type="text" payeezy-data="cvv_code" value="" />
              </td>
            </tr>
            <tr>
              <td align="right">Fecha de Expiracion</td>
              <td><select payeezy-data="exp_month">
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
              </select> <select payeezy-data="exp_year">
                  <option value="16">2016</option>
                  <option value="17">2017</option>
                  <option value="18">2018</option>
                  <option value="19">2019</option>
                  <option value="20">2020</option>
                  <option value="21">2021</option>
                  <option value="21">2022</option>
                  <option value="21">2023</option>
                  <option value="21">2024</option>
                  <option value="21">2021</option>
              </select></td>
            </tr>
       </div>d     
</form>
<!--
  <section>

    <div>

      <h1 class="text-center">Registro de Tarjetas</h1>

      <form name="frmRegistroTarjetas" class="row mt-5" ng-submit="vm.registrarTarjeta(vm.tarjetaNueva)">

        <div class="container" name="frmRegistroTarjetas">

          <div class="form-group col-sm-12 col-md-4 col-lg-4 m-3">
            <label for="txtNombre">Nombre como aparece en la tarjeta</label>
            <input type="text" class="form-control" id="txtNombre" ng-model="vm.tarjetaNueva.nombre" required>
            <small class="form-text text-danger">* Campo requerido</small>
          </div>

          <div class="form-group col-sm-12 col-md-4 col-lg-4 m-3">
            <label for="txtNumCC">Número de Tarjeta</label>
            <input type="number" class="form-control" id="txtNumCC" ng-model="vm.tarjetaNueva.numero" required>
            <small class="form-text text-danger">* Campo requerido</small>
          </div>

          <div class="form-group col-sm-12 col-md-4 col-lg-4 m-3">
            <label for="txtCvv">CVV</label>
            <input type="number" class="form-control" id="txtCvv" ng-model="vm.tarjetaNueva.cvv" required>
            <small class="form-text text-danger">* Campo Requerido</small>
          </div>

          <div class="form-group col-sm-12 col-md-4 col-lg-4 m-3">
            <label for="txtExp">Fecha de Expiracion</label>
            <input type="number" class="form-control" id="txtExp" ng-model="vm.tarjetaNueva.exp" required>
            <small class="form-text text-danger">* Campo Requerido</small>
          </div>

        </div>
      </form>
    </div>

  </section>
-->


</main>