<navegacion-Principal></navegacion-Principal>

<main id="login">
  <section class="row w-100 mt-5">
    <div class="container">
      <h1 class="text-center my-5" id="tituloPrincipal">Inicio de Sesión</h1>
      <div class="col-md-12">
          <form action="" class="row mt-5" name="frmInicioSesion" ng-submit="vm.iniciarSesion(vm.usuario)">
    
            <div class="col-md-4">
              <div class="form-group">
                <label for="txtCorreo">Correo Electrónico:</label>
                <input type="email" class="form-control" id="txtCorreo" ng-model="vm.usuario.correo">
                <small class="form-text text-danger">* Campo requerido</small>
              </div>
    
              <div class="form-group">
                <label for="#txtContrasenna">Contraseña:</label>
                <input type="password" class="form-control" id="txtContrasenna" ng-model="vm.usuario.contrasenna">
                <small class="form-text text-danger">* Campo requerido</small>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-info">Iniciar sesión</button>
              <button type="button" class="btn btn-secondary" ng-click="vm.registrar()">Crear cuenta</button>
            </div>
          </form>
        </div>
    </div>
  </section>

</main>