<main class="container">
    <section class="row">
        <section class="col-md-12 my-5">
            <h1 class="text-center">Registrar repartidor</h1>

            <form name="registrarUsuario">
                <div class="com-md-4">
                        <div class="form-group">
                            <label>Cedula: </label>
                            <input type="number" name="cedula" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Foto de perfil: </label>
                            <input type="file" name="foto" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Nombre: </label>
                            <input type="text" name="nombre" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Segundo nombre: </label>
                            <input type="text" name="segundoNombre" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Primer apellido: </label>
                            <input type="text" name="primerApellido" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Segundo apellido: </label>
                            <input type="text" name="segundoApellido" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Correo electrónico: </label>
                            <input type="email" name="correo" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Número de telefono: </label>
                            <input type="text" name="numero" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Número de telefono adicional: </label>
                            <input type="text" name="numeroAdicional" class="form-control">
                        </div>

                        <div class="form-group">
                            <select name="sucursal">
                                <option value>Seleccione sucursal en la cuál trabaja</option>
                                <option value="">Sucursal</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select name="genero">
                                <option value>Seleccione un género</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="diverso">Diverso</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Fecha nacimiento: </label>
                            <input type="text" name="nacimiento" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Contrasena: </label>
                            <input type="text" name="contrasena" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Confirmar contrasena: </label>
                            <input type="text" name="contrasena" class="form-control">
                        </div>
                                            
                </div>
            </form>
        </section>
    </section>
</main>