<div id="body">
  <header id="headerLanding" class="col-sm-12 col-md-12 col-lg-12">
    <div class="container-fluid d-none d-md-block">
      <!-- <img id="FondoLanding" class="img-fluid col-sm-12 col-md-12 col-lg-12"  src="sources/img/landing/1.png"> -->
      <img id="LogoLanding" class="img-responsive" alt="Responsive image" src="sources/img/landing/2.png" width="40%" height="30%">
    </div>
  </header>
  <main>
    <div class="container">
      <div class="row " id="texto">
        <div class="d-none d-md-block">
          <h5 id="TextoLanding" class=" col-md-6 col-lg-6">Trabajamos para brindarle
            <strong id="elMejor">el mejor servicio </strong> ahora desde su teléfono</h5>
          <img class=" col-sm-hidden col-md-6 col-lg-6" id="telefonoLanding" src="sources/img/landing/3.png">
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div>
            <img class="img-responsive container col-md-10" src="sources/img/landing/4.png">
          </div>
          <div class="text-center">
            <label>Correo electrónico</label>
            <input type="text" id="input" class=" form-control col-md-10">
          </div>
          <div class="text-center">
            <label>Contraseña</label>
            <input type="password" id="input" class="form-control col-md-10">
          </div>
          <div class= "col-sm-10 col-md-12 col-lg-12">
            <button type="submit" class="btn btn-danger btn-lg form-control m-3 col-md-10 " id="bntIngresar">Comenzar
            </button>
          </div>
          <div>
            <p class="text-center p-2">¿Eres nuevo en Correo de Costa Rica?</p>
          </div>
          <div class="text-center">
            <a href="">Cree una cuenta</a>
          </div>
        </div>
      </div>
    </div>
</div>
</main>
<footer class="footerLanding">
  <div class="">
  </div>
</footer>
</div>