<navegacion-Principal></navegacion-Principal>
<div id="body" class="mt-5">
  <header id="headerLanding" class="col-sm-12 col-md-12 col-lg-12">
    <div class="container-fluid d-none d-md-block">
      <!-- <img id="FondoLanding" class="img-fluid col-sm-12 col-md-12 col-lg-12"  src="sources/img/landing/1.png"> -->
      <img id="LogoLanding" class="img-responsive mb-5" alt="Responsive image" src="sources/img/landing/2.png" width="40%" height="30%">
    </div>
  </header>
  <main>
    <div class="container mt-5">
      <div class="row " id="texto">
        <div class="col-md-6">
          <div class="d-none d-md-block">
            <h5 id="TextoLanding">Trabajamos para brindarle
              <strong id="elMejor">el mejor servicio </strong> ahora desde su teléfono</h5>
            <img class="col-sm-hidden" id="telefonoLanding" src="sources/img/landing/3.png">
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-center">
            <img class="img-responsive" src="sources/img/landing/4.png" width="341px" height="137px">
          </div>
          <form class="mt-5" name="frmInicioSesion" ng-submit="vm.iniciarSesion(vm.usuario)">
            <div class="form-group mt-3 px-5">
              <label>Correo electrónico</label>
              <input type="email" class="form-control" id="txtCorreo" ng-model="vm.usuario.correo">
            </div>
            <div class="form-group px-5">
              <label>Contraseña</label>
              <input type="password" class="form-control" id="txtContrasenna" ng-model="vm.usuario.contrasenna">
            </div>

            <div class="text-center px-5">
              <button type="submit" class="btn btn-danger btn-lg btn-block" id="bntIngresar">Comenzar
              </button>
            </div>
          </form>
          <div class="mt-3">
            <p class="text-center p-2">¿Eres nuevo en Correos de Costa Rica?</p>
          </div>
          <div class="text-center">
            <a ui-sref="registrarCliente">Crear una cuenta</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<footer-Principal></footer-Principal>