#fondoHeader{
  background-image: url('./img/registrar/headerMenu.png');
  background-repeat: no-repeat;
  background-size: 100%
  padding-left 10%;
};


#lista{
margin-top: 10%;
color:  rgb(5, 34, 83);
};

#Titulos tr{
  background-color: rgb(228, 0, 43);
  font-family: montserrat, sans-serif;
};

#btnDesactiar{
 background-color: rgb(228, 0, 43)
};

#TituloDesactivar{
 color:  rgb(5, 34, 83);
};