@import "../settings";

#headerLanding{
  background-image: url('./img/landing/1.png');
  background-repeat: no-repeat;
  background-size: 100%;


  #FondoLanding{
   
  }

  #LogoLanding{
   margin-left: 30%;
   margin-top: 5%;
 }

#texto{
  margin-top: 20%;
  padding-top: 15%;
}

 #TextoLanding{
   margin-left: 10%;
   margin-bottom: 10%;
 }

 #telefonoLanging{
   margin-top: 10%;
   margin-right: 10%;
 }

 #footerLanding{

background-color: $rest-color;

 }
}