#headerLanding{
  #FondoLanding{
    margin-top: -100%;
    padding: 0 0;
    position: relative;
    z-index: 1;
  }

  #LogoLanding{
    position: absolute;
    top: -39%;
    margin: 0 auto;
    z-index: 9;
 }

 #texto{
   padding-left: 
 }

 #TextoLanding{
   margin-left: 10%;
   margin-bottom: 10%;
 }

 #telefonoLanging{
   margin-top: 10%;
   margin-right: 10%;
 }

 #footerLanding{
   background-color: #3b3b3b;
   padding-bottom: 20%;
 }
}