#mainPrincipal{

  .jumbotron{
    background-image: url('./img/landing/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #informacion{
    color: white;
  }
}