@font-face{
  font-family: 'montserrat';
    src: url('sources/fonts/Montserrat-Regular.ttf');
    font-style: normal;
    font-weight: 100;
  
  };
  #fondoHeader{
    background-image: url('./img/registrar/headerMenu.png');
    background-repeat: no-repeat;
    background-size: 100%;
  };
  
  #body{
    font-family: montserrat, sans-serif;
  };

  .h1{
    font-family: montserrat, sans-serif;
  };

  #texto

  #tituloTexto{
    font-family: montserrat, sans-serif;
  }


  //#LogoMenu{
 //   background-image: url('./img/registrar/headerMenu.png');
   // background-repeat: no-repeat;
  //  background-size: 100%;
 // };

  #tituloPrincipal{
    color:rgb(5, 34, 83);
  };

  #fondoHeader{
    width: 100%;
  };