main{
  section{
    section{
      h1{
        color: #001052;
      }
      h4{
        color: #3b3b3b;
      }
      p{
        color: #3b3b3b;
      }
      form{
        div{
          div{
            label{
              color: #767676;
            }
            input{
              color: #555555;
            }
          }
        }
      }
    }
  }
}