<main class="container-fluid">

    <section class="row">
      <div class="col-md-12 mt-5">
  
        <h1 class="text-center">Lista encargados de Sucursal</h1>
  
        <table class="table mt-5">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Cedula</th>
                <th scope="col">Correo</th>
  
            </tr>
          </thead>
  
          <tbody>
            <tr ng-repeat="encargadoSucursales in vm.listarEncargadoSucursal">
                <td>{{encargadoSucursales.nombre}}</td>
                <td>{{encargadoSucursales.primerApellidol}}</td>
                <td>{{encargadoSucursales.cedula}}</td>
                <td>{{encargadoSucursales.correo}}</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-success" ng-click="vm.prealertarPaquetes ()">Prealertar paquetes</button>
      </div>
    </section>
  
  </main>