<tbody>
  <tr ng-repeat="encargadoSucursal in vm.listarEncargadoSucursal">
    <td>{{encargadoSucursal.nombre}}</td>
    <td>{{encargadoSucursal.segundoNombre}}</td>
    <td>{{encargadoSucursa.primerApellidol}}</td>
    <td>{{encargadoSucursal.segundoApellido}}</td>
    <td>{{encargadoSucursal.cedula}}</td>
    <td>{{encargadoSucursal.fecha}}</td>
    <td>{{encargadoSucursal.genero}}</td>
    <td>{{encargadoSucursal.ubicacion}}</td>
    <td>{{encargadoSucursal.provincia}}</td>
    <td>{{encargadoSucursal.canton}}</td>
    <td>{{encargadoSucursal.distrito}}</td>
    <td>{{encargadoSucursal.direccion}}</td>
    <td>{{encargadoSucursal.correo}}</td>
    
  </tr>
</tbody>