<footer class="hero pt-4 mt-4" id="mainFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
             <div class="pt-3">
                <img src="/sources/img/landing/5.png" class="img-fluid" width="200px" height="200px" alt="">
             </div>
            </div>
            <div class="col-md-2">
              <h5 class="text-uppercase">Coreos CR</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Contáctenos</a>
                </li>
                <li>
                  <a href="#!">Servicios</a>
                </li>
                <li>
                  <a href="#!">Soporte al cliente</a>
                </li>
                <li>
                  <a href="#!">Nosotros</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="copyright">
              <div class="py-3 text-center">
                © 2018 Copyright:Correos CR
              </div>
            </div>
          </div>
    </div>
  </footer>