<h1>Lista de paquetes entrantes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tienda preoveniente</th>
      <th>Tienda preoveniente</th>
      <th>Tienda preoveniente</th>
      <th>Tienda preoveniente</th>
    </tr>
  </thead>

  <tbody>
    <td ng-repeat="paquetes in vm.paquetesPrealertados">
      <tr><!--{{paquetes.infoPaquete}}--></tr>
      <tr><!--{{paquetes.infoPaquete}}--></tr>
      <tr><!--{{paquetes.infoPaquete}}--></tr>
      <tr><!--{{paquetes.infoPaquete}}--></tr>
    </td>
  </tbody>
</table>