<tbody>
  <tr ng-repeat="paquetesPrealertados in vm.paquetesPrealertados">
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.l}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    <td>{{paquetesPrealertados.}}</td>
    
  </tr>
</tbody>