<header id="fondoHeader">
  <div class="container-fluid d-none d-md-block m-2" id="logoHeader">
    <img src="sources/img/registrar/logoMenu.png" alt="" srcset="">
  </div>
</header>
<main class="container p-5">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <label for="txtRol">Seleccione un usuario:</label>
    <select id="txtRol" ng-model="vm.rolUsuario" ng-change="vm.filtrarRolUsuario(vm.rolUsuario)" class="custom-select" required>
      <option value="">Seleccione el tipo de usuario</option>
      <option value="1">Administrador</option>
      <option value="2">Encargado de Aduana</option>
      <option value="3">Encargado de Sucursal</option>
      <option value="4">Repartidor</option>
      <option value="5">Cliente</option>
    </select>
  </div>
  <div class="table">
    <div id="lista" class="row TituloDesactiva m-1">
      <h2>Lista de Usuarios</h2>
    </div>
    <div class="m-3">
      <p>Adjunto encontrará el listado de todos los usuarios </p>
    </div>
    <table class="table-hover">
      <thead class="m-3">
        <div class="Titulos m-1">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cédula</th>
            <th scope="col">Fecha</th>
            <th scope="col">Género</th>
            <!-- <th scope="col">Provincia</th>
            <th scope="col">Cantón</th> -->
            <th scope="col">Distrito</th>
            <th scope="col">Correo</th>
            <th scope="col">Desactivar</th>
          </tr>
        </div>
      </thead>
      <tbody>
        <div class="Informacion m-1">
          <tr ng-repeat="usuario in vm.listarUsuarios">
            <td>{{usuario.primerNombre}}</td>
            <td>{{usuario.primerApellido}}</td>
            <td>{{usuario.cedula}}</td>
            <td>{{usuario.fecha | date:'dd-MM-yyyy'}}</td>
            <td>{{usuario.genero}}</td>
            <!-- <td>{{usuario.provincia}}</td>
            <td>{{usuario.canton}}</td> -->
            <td>{{usuario.distrito}}</td>
            <td>{{usuario.correo}}</td>
            
        </div>

        <td>
          <button class="btn btn-danger" id="btnDesactiar" type="button" ng-click="vm.desactivar(usuario)">Desactivar</button>
        </td>
        </tr>
</main>
</tbody>
</table>
</div>