<main class="container-fluid">

  <section class="row">
    <div class="col-md-12 mt-5">

      <form action="" ng-submit="vm.buscarCodigos(vm.informacionSucursal)">

        <select ng-model="vm.informacionSucursal">
          <option value>Seleccione una sucursal</option>

          <option ng-repeat="datosSucursales in vm.retornarDatosSucursales" value="{{datosSucursales.codigoSucursal}}">{{datosSucursales.nombreSucursal}}</option>
        </select>

        <button type="submit">Listar</button>

        <p ng-repeat="repartidores in vm.listarRepartidores()">{{repartidores}}</p> <!-- debe ser una tabla que llama a la funcion que retorna el objeto, al principo\io como el objegto no tiene datos, no muestra nada, despues de dar click me retorna los repartidores cuya sucursal sea la misma que le envie con el click -->
      </form>

      <h1 class="text-center">Lista de sucursales</h1>

      <table class="table mt-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Provincia</th>
            <th scope="col">Cantón</th>
            <th scope="col">Distrito</th>
            <th scope="col">Acciones</th>

          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="sucursales in vm.listarSucursalesAct">
            <td>{{sucursales.codigoSucursal}}</td>
            <td>{{sucursales.nombreSucursal}}</td>
            <td>{{sucursales.provincia.name}}</td>
            <td>{{sucursales.canton.name}}</td>
            <td>{{sucursales.distrito.name}}</td>
            <td>
              <button type="click" class="btn btn-warning" ng-click="vm.editarSucursales(sucursales)">
                Editar
              </button>

              <button type="click" class="btn btn-danger" ng-click="vm.desactivarSucursal(sucursales)">
                Desactivar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-success" ng-click="vm.agregarSucursales ()">Agregar sucursal</button>

      <h2 class="text-center mt-5">Sucursales desactivadas</h2>
      <table class="table mt-5">
        <thead class="thead-dark">
          <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Provincia</th>
              <th scope="col">Cantón</th>
              <th scope="col">Distrito</th>
              <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="sucursales in vm.listarSucursalesDesact">
            <td>{{sucursales.codigoSucursal}}</td>
            <td>{{sucursales.nombreSucursal}}</td>
            <td>{{sucursales.provincia.name}}</td>
            <td>{{sucursales.canton.name}}</td>
            <td>{{sucursales.distrito.name}}</td>
            <td>
              <button type="button" class="btn btn-success" ng-click="vm.activarSucursal(sucursales)">
                Activar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

</main>