<header class="row" id="fondoHeader">
  <div class="container-fluid d-none d-md-block m-2" id="logoHeader">
    <img src="sources/img/registrar/logoMenu.png" alt="" srcset="">
  </div>
</header>
<div class="container mt-5">
  <form ng-submit="vm.prealertarPaquete(vm.nuevoPaquetePrealertado)">
    <div class="row">

      <div class="col-md-12">
        <h1 id="tituloPrincipal">Prealerte su paquete!</h1>
        <h4>¡Es fácil y sencillo!</h4>
        <p>Complete los siguientes datos</p>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="col-md-5 form-group">
        <label>Número de tracking: </label>
        <input type="text" class="form-control" ng-model="vm.nuevoPaquetePrealertado.trackingPaquete" ng-disabled="true">
      </div>
      <div class="col-md-5 form-group">
        <label for="sltTipoMensajero">Mensajero: </label>
        <select id="sltTipoMensajero" ng-options="tipoMensajero as tipoMensajero.name for tipoMensajero in vm.tipoMensajero track by tipoMensajero._id"
          ng-model="nuevoPaquetePrealertado.tipoMensajero" class="custom-select" required>
          <option value="">Seleccione un tipo de mensajero</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 form-group">
        <label for="sltTipoPaquete">Tipo del paquete</label>
        <select id="sltTipoPaquete" ng-options="tipoPaquete as tipoPaquete.name for tipoPaquete in vm.tipoPaquetes track by tipoPaquete._id"
          ng-model="vm.nuevoPaquetePrealertado.tipoPaquete" class="custom-select" required>
          <option value="">Seleccione un tipo de paquete</option>
        </select>
      </div>
      <div class="col-md-5 form-group">
        <label>Peso: </label>
        <input type="tel" class="form-control" placeholder="Kg" ng-model="vm.nuevoPaquetePrealertado.pesoPaquete" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 form-group">
        <label>Precio: </label>
        <input type="tel" class="form-control" placeholder="$"  ng-model="vm.nuevoPaquetePrealertado.precioPaquete" required>
      </div>
      <div class="col-md-5 form-group">
        <label>Costo total: </label>
        <input type="text" class="form-control" ng-model="vm.nuevoPaquetePrealertado.costoTotalPaquete" ng-disabled="true">
      </div>
    </div>

</div>
<div class="row">
  <div class="col-md-8 mt-3">
    <button type="submit" class="btn btn-danger">Prealertar paquete</button>
    <button type="button" class="btn btn-danger" ng-click="vm.listarPaquetesPrealertados(paquetesPrealertados)">Lista de paquetes prealertados</button>
  </div>
</div>
</form>
</div>