<tbody>
  <tr ng-repeat="paquetesNuevosAduana in vm.consultarPaquetesNuevosAduana">
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.l}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    <td>{{paquetesNuevosAduana.}}</td>
    
  </tr>
</tbody>