<div class="col-4">
        <form ng-submit="vm.registrarEncargadoAduana(vm.nuevoEncargadoAduana)">
    
            <div class="form-group">
                <label for="Nombre">Nombre:</label>
                <input type="" class="form-control" id="NombreEncargadoAduana" ng-model="vm.nuevoEncargadoAduana.nombre">
            </div>
    
            <div class="form-group">
                <label for="SegundoNombre">Segundo Nombre:</label>
                <input type="" class="form-control" id="SegundoNomEncargadoAduana" ng-model="vm.nuevoEncargadoAduana.segundoNombre">
            </div>

            <div class="form-group">
                    <label for="PrimerApellido">Primer Apellido:</label>
                    <input type="" class="form-control" id="ApellidoEncargadoAduana" ng-model="vm.nuevoEncargadoAduana.primerApellido">
             </div>
             <div class="form-group">
                    <label for="SegundoNombre">SegundoNombre:</label>
                    <input type="" class="form-control" id="SegundoNomEncargadoAduana" ng-model="vm.nuevoEncargadoAduana.segundoNombre">
                </div>

                <div class="form-group">
                        <label for="SegundoNombre">SegundoNombre:</label>
                        <input type="" class="form-control" id="SegundoNomEncargadoAduana" ng-model="vm.nuevoEncargadoAduana.segundoNombre">
                    </div>

    
            
            
            <button type="submit" class="btn btn-primary">Registrar Entierro</button>
        </form>
    </div>