
<ul>
  <li>
    <a ui-sref="main.registrarEncargadoAduana" >Registro de Encargado de Aduana</a>
  </li>
  <li>
    <a ui-sref="main.registrarEncargadoSucursal">Registro de Encargado de Sucursal</a>
  </li>
  <li>
    <a ui-sref="main.registrarCliente">Registrar Usuarios</a>
  </li>
  <li>
    <a ui-sref="main.registrarConvenio">Registrar Convenio</a>
  </li>
  <li>
      <a ui-sref="main.listarEncargadoSucursal">Listar Encargado de Sucursal</a>
  </li>
  <li>
    <a ui-sref="main.listarFacturas">Listar Facturas</a>
  </li>
  <li>
    <a ui-sref="main.paquetesPrealertados">Paquetes prealertados</a>
  </li>
  <li>
    <a ui-sref="main.consultarPaquetesNuevosAduana">Paquetes nuevos en Aduana</a>
  </li>
  <li>
    <a ui-sref="main.consultarRepartidorAsignado">Repartidor asignado</a>
  </li>
  <li>
    <a ui-sref="main.consultarCasillero">Consultar casillero</a>
  </li>
</ul>

<div ui-view></div>
