<header>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" ui-sref="main">
      <img src="/sources/img/landing/5.png" width="90" height="40" class="d-inline-block align-top" alt="">
    </a>

    <button class="btn btn-danger" type="button" ng-click="vm.cerrarSesion()">Cerrar sesión</button>

  </nav>
</header>
<main class="hero" id="mainPrincipal">
  <div class="container-fluid my-5">

    <div class="row jumbotron">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="">
          <img src="sources/img/avatar.jpeg" class="img-fluid rounded-circle" width="200px" height="200px" alt="">
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div id="informacion">
          <h1>{{vm.usuarioActivo.primerNombre}} {{vm.usuarioActivo.primerApellido}}</h1>
          <p>Cédula: {{vm.usuarioActivo.cedula}}</p>
          <p>Correo: {{vm.usuarioActivo.correo}}</p>
          <p>Fecha de nacimiento: {{vm.usuarioActivo.fecha | date:'dd-MM-yyyy'}}</p>
          <p>Sexo: {{vm.usuarioActivo.genero}}</p>
          <p>{{vm.usuarioActivo.provincia}}, {{vm.usuarioActivo.canton}}, {{vm.usuarioActivo.distrito}}</p>
          <button type="button" class="btn btn-danger">Modificar información</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="navbar navbar-expand-lg navbar-light bg-light" id="navVertical">
          <ul class="nav flex-column">
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.registrarCliente" ui-sref-active="active">Registrar cliente</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.registrarEncargadoAduana" ui-sref-active="active">Registrar encancargado de aduana</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.registrarEncargadoSucursal" ui-sref-active="active">Registrar encargado de sucursal</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="" ui-sref-active="active">Registrar repartidor</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.prealertarPaquetes" ui-sref-active="active">Prealertar paquete</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.listarPaquetesPrealertados" ui-sref-active="active">Listar paquetes prealertados</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="" ui-sref-active="active">Asignar paquete a repartidor</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.registroSucursales" ui-sref-active="active">Registrar Sucursal</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.editarSucursal" ui-sref-active="active">Editar información de sucursal</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.editarEncargadoAduana" ui-sref-active="active">Editar encargado de aduana</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.registrarConvenio" ui-sref-active="active">Registrar convenio</a>
            </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==4">
                <a class="nav-link" ui-sref="main.perfilRepartidor" ui-sref-active="active">Mi perfil</a>
              </li>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==0">
              <a class="nav-link" ui-sref="" ui-sref-active="active">Listar todos los usuarios</a>
            <li class="nav-item my-2" ng-if="vm.usuarioActivo.rol==1||vm.usuarioActivo.rol==2||vm.usuarioActivo.rol==3||vm.usuarioActivo.rol==4||vm.usuarioActivo.rol==5">
              <a class="nav-link" ui-sref="main.listarTodosUsuarios" ui-sref-active="active">Listar todos los usuarios</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div ui-view></div>
      </div>
    </div>
  </div>
</main>
<footer-Principal></footer-Principal>
