<header class="row" id="fondoHeader">
  <div class="container-fluid d-none d-md-block m-2" id="logoHeader">
    <img src="sources/img/registrar/logoMenu.png" alt="" srcset="">
  </div>
</header>
<main class="container-fluid">
  <div class="container" id="header">
    <section class="row">
      <div class="col-md-12">

        <h1 id="tituloPrincipal" class="text-center my-5">Consultar paquetes Prealertados</h1>

        <table class="table mt-4">
          <thead class="">
            <tr>
              <th scope="col">Número de tracking</th>
              <th scope="col">Tipo de paquete</th>
              <th scope="col">Peso</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="consultarPaquetesPrealertados in vm.listarPaquetesPrealertados">
              <td>{{consultarPaquetesPrealertados.trackingPaquete}}</td>
              <td>{{consultarPaquetesPrealertados.tipoPaquete}}</td>
              <td>{{consultarPaquetesPrealertados.pesoPaquete}}</td>
              <td>{{consultarPaquetesPrealertados.estadoPaquete}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>