<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-5">
    <a class="navbar-brand" ui-sref="landingPage">Correos CR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mt-0">
        <li class="nav-item">
          <a class="nav-link" ui-sref="landingPage" ui-sref-active="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="inicioSesion" ui-sref-active="active">Registrar</a>
        </li>
      </ul>
    </div>
  </nav>
</header>