<header id="mainHeader">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top mb-5">
    <a class="navbar-brand" href="#">
      <img src="/sources/img/landing/5.png" width="90" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mt-0">
        <li class="nav-item">
          <a class="nav-link" ui-sref="landingPage" ui-sref-active="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="registrarCliente" ui-sref-active="active">Registrar</a>
        </li>
      </ul>
    </div>
  </nav>
</header>