<header id="fondoHeader">
        <div class="container-fluid d-none d-md-block m-2" id="logoHeader">
          <img src="sources/img/registrar/logoMenu.png" alt="" srcset="">
        </div>
      </header>
    <main class= "container p-5">
    <div class="table">
            <div class= "row TituloDesactiva m-1" id="lista" >
                    <h2>Lista de Usuarios dsesactivados</h2>
                </div>
                <div class="m-3">
                    <p>Adjunto encontrará el listado de todos los usuarios que han sido desactivados </p>
                </div>  
                <table class="table-hover">
                    <thead class="m-3">
                        <div class="Titulos m-1">      
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Cédula</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Género</th>
                            <th scope="col">Provincia</th>
                            <th scope="col">Cantón</th>
                            <th scope="col">Distrito</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Activar</th>
                        </tr>
                        </div> 
                    </thead>
                    <tbody>
                        <div class="Informacion m-1">
                            <tr ng-repeat="usuario in vm.listarUsuariosDesactivados">
                                <td>{{usuario.primerNombre}}</td>
                                <td>{{usuario.primerApellido}}</td>
                                <td>{{usuario.cedula}}</td>
                                <td>{{usuario.fecha | date:'dd-MM-yyyy'}}</td>
                                <td>{{usuario.genero}}</td>
                                <td>{{usuario.provincia}}</td>
                                <td>{{usuario.canton}}</td>
                                <td>{{usuario.distrito}}</td>
                                <td>{{usuario.correo}}</td>
                            </div> 
                
                            <td>
                                <button class="btn btn-danger " id="btnActivar" type="button" ng-click="vm.activar(usuario)">Activar</button>
                            </td>
                        </tr>
                    </main>
                    </tbody>
                </table>
            </div>